<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/car-styles.css" type="text/css">
    <title>Add a Car</title>
</head>
<body>
    <div class="container">
        <h1>Add a Car</h1>
        <form action="Car.php">
            <div class="form-group">
                <label for="price">Enter Selling Price:</label>
                <input id="price" name="price" class="form-control" type="number">
                <label for="miles">Enter Car's Milage:</label>
                <input id="miles" name="miles" class="form-control" type="number">
                <label for="make">Enter Car's Make/Model</label>
                <input id="make" name="make" class="form-control" type="text">
                <label for="URL">Enter URL of Images</label>
                <input id="URL" name="URL" class="form-control" type="text">
            </div>
            <button type="submit" class="btn-success">Submit</button>
        </form>
    </div>
</body>
</html>
